html {
  height: 100%;
  position: relative;
  background-color: #242424;
}

body {
  height: 100%;
  background-color: #242424;
}

.bg-secondary-color {
  background-color: #242424
}

.primary-color {
  color: #3aa17a
}

.bg-primary-color {
 background-color: #3aa17a
}

#link:hover {
  color: #242424
}

input.form-control{
  background-color: #f2f2f2 !important;
}

#submit-button:hover {
  background-color: #49be91 !important;
  border-color: #49be91;
}

#header {
  background-color: #3aa17a;
  height: 50px;
}

#footer {
  background-color: #929292;
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0; 
}

#link-icons {
  color: #242424 !important;
  text-decoration: none !important;
}

#link-icons:hover {
  color: #242424 !important;
}

.anton {
  font-family: 'Anton', sans-serif;
} 