<div class="row mt-5">
  <div class="col-7 col-md-5 mx-auto align-self-center d-flex flex-column justify-content-center align-items-center">
    <div onclick="window.location.assign('/tournaments')" role="button" style="width: 100%;" class="p-3 mt-5 mx-auto bg-primary-color rounded-2 d-flex justify-content-center align-items-center">
      <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M66.4453 4.21875H58.3594V0.703125C58.3594 0.316406 58.043 0 57.6562 0H12.6562C12.2695 0 11.9531 0.316406 11.9531 0.703125V4.21875H3.86719C2.84155 4.21875 1.85791 4.62618 1.13267 5.35142C0.407434 6.07666 0 7.0603 0 8.08594V21.0938C0 28.2744 5.27344 34.2422 12.1465 35.332C13.5 45.5449 21.709 53.5957 31.9922 54.7119V63.958H14.7656C13.21 63.958 11.9531 65.2148 11.9531 66.7705V69.6094C11.9531 69.9961 12.2695 70.3125 12.6562 70.3125H57.6562C58.043 70.3125 58.3594 69.9961 58.3594 69.6094V66.7705C58.3594 65.2148 57.1025 63.958 55.5469 63.958H38.3203V54.7119C48.6035 53.5957 56.8125 45.5449 58.166 35.332C65.0391 34.2422 70.3125 28.2744 70.3125 21.0938V8.08594C70.3125 7.0603 69.9051 6.07666 69.1798 5.35142C68.4546 4.62618 67.471 4.21875 66.4453 4.21875ZM11.9531 28.793C8.69238 27.7471 6.32812 24.6885 6.32812 21.0938V10.5469H11.9531V28.793ZM63.9844 21.0938C63.9844 24.6973 61.6201 27.7559 58.3594 28.793V10.5469H63.9844V21.0938Z" fill="black"/>
        </svg>
      <a style="text-decoration: none;" id="link-icons" href="/tournaments"><h3 class="mb-0 mx-4 anton">TORNEOS</h3></a>
    </div>
    <div onclick="window.location.assign('/teams/new')" role="button" style="width: 100%;" class="p-3 mt-5 w-30 mx-auto bg-primary-color rounded-2 d-flex justify-content-center align-items-center">
      <!--<img src="images/team.png" alt="users" class="img-fluid" style="height: 50px; width: 50px;">-->
      <svg width="71"  height="71" viewBox="0 0 80 68" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M40 0.26123C38.5241 0.26123 37.0627 0.551929 35.6991 1.11673C34.3356 1.68153 33.0966 2.50937 32.053 3.55298C31.0094 4.5966 30.1815 5.83555 29.6167 7.1991C29.0519 8.56264 28.7612 10.0241 28.7612 11.5C28.7612 12.9759 29.0519 14.4373 29.6167 15.8009C30.1815 17.1644 31.0094 18.4034 32.053 19.447C33.0966 20.4906 34.3356 21.3184 35.6991 21.8832C37.0627 22.448 38.5241 22.7387 40 22.7387C42.9807 22.7387 45.8393 21.5547 47.947 19.447C50.0547 17.3393 51.2388 14.4807 51.2388 11.5C51.2388 8.51928 50.0547 5.66066 47.947 3.55298C45.8393 1.44531 42.9807 0.26123 40 0.26123ZM65.3125 5.87498C63.0747 5.87498 60.9286 6.76393 59.3463 8.34627C57.7639 9.92861 56.875 12.0747 56.875 14.3125C56.875 16.5502 57.7639 18.6964 59.3463 20.2787C60.9286 21.861 63.0747 22.75 65.3125 22.75C67.5503 22.75 69.6964 21.861 71.2787 20.2787C72.8611 18.6964 73.75 16.5502 73.75 14.3125C73.75 12.0747 72.8611 9.92861 71.2787 8.34627C69.6964 6.76393 67.5503 5.87498 65.3125 5.87498ZM14.6875 5.87498C12.4497 5.87498 10.3036 6.76393 8.72129 8.34627C7.13895 9.92861 6.25 12.0747 6.25 14.3125C6.25 16.5502 7.13895 18.6964 8.72129 20.2787C10.3036 21.861 12.4497 22.75 14.6875 22.75C16.9253 22.75 19.0714 21.861 20.6537 20.2787C22.2361 18.6964 23.125 16.5502 23.125 14.3125C23.125 12.0747 22.2361 9.92861 20.6537 8.34627C19.0714 6.76393 16.9253 5.87498 14.6875 5.87498ZM23.125 33.9606C23.1354 32.4756 23.7326 31.055 24.7864 30.0086C25.8401 28.9622 27.265 28.3749 28.75 28.375H51.25C52.7418 28.375 54.1726 28.9676 55.2275 30.0225C56.2824 31.0774 56.875 32.5081 56.875 34V50.875C56.8746 52.6453 56.5975 54.4046 56.0537 56.0894C54.8082 59.9071 52.2425 63.1557 48.8173 65.2519C45.3921 67.3481 41.3317 68.1546 37.3654 67.5265C33.3991 66.8984 29.7866 64.8769 27.1766 61.825C24.5666 58.7731 23.1301 54.8907 23.125 50.875V33.9606ZM17.5 34C17.5 31.9469 18.0456 30.0287 19.0075 28.375H6.25C4.75816 28.375 3.32742 28.9676 2.27252 30.0225C1.21763 31.0774 0.625001 32.5081 0.625001 34V48.0625C0.624235 50.3648 1.18877 52.6321 2.26903 54.6653C3.3493 56.6985 4.91224 58.4353 6.82061 59.7233C8.72898 61.0113 10.9244 61.811 13.2141 62.0523C15.5037 62.2935 17.8176 61.9689 19.9525 61.1069C18.3335 57.9376 17.4928 54.4282 17.5 50.8694V34ZM62.5 34V50.875C62.5 54.5594 61.6169 58.0356 60.0475 61.1069C62.1824 61.9689 64.4963 62.2935 66.7859 62.0523C69.0756 61.811 71.271 61.0113 73.1794 59.7233C75.0878 58.4353 76.6507 56.6985 77.731 54.6653C78.8112 52.6321 79.3758 50.3648 79.375 48.0625V34C79.375 32.5081 78.7824 31.0774 77.7275 30.0225C76.6726 28.9676 75.2418 28.375 73.75 28.375H60.9925C61.9488 30.0287 62.5 31.9469 62.5 34Z" fill="black"/>
        </svg>
      <a style="text-decoration: none;" id="link-icons" href="/teams/new"><h3 class="mb-0 mx-4 anton">EQUIPOS</h3></a> 
    </div>
    <div onclick="window.location.assign('/match_days/new')" role="button" style="width: 100%;" class="p-3 mt-5 w-30 mx-auto bg-primary-color rounded-2 d-flex justify-content-center align-items-center">
      <svg width="71" class="ms-5" height="71 " viewBox="0 0 73 73" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 70.08C0 71.6951 1.30488 73 2.92 73H70.08C71.6951 73 73 71.6951 73 70.08V31.755H0V70.08ZM70.08 6.57H54.75V0.73C54.75 0.3285 54.4215 0 54.02 0H48.91C48.5085 0 48.18 0.3285 48.18 0.73V6.57H24.82V0.73C24.82 0.3285 24.4915 0 24.09 0H18.98C18.5785 0 18.25 0.3285 18.25 0.73V6.57H2.92C1.30488 6.57 0 7.87488 0 9.49V25.55H73V9.49C73 7.87488 71.6951 6.57 70.08 6.57Z" fill="black"/>
        </svg>
      <a style="text-decoration: none;" id="link-icons" href="/match_days/new"><h3 class="mb-0 mx-4 anton">MATCH DAYS</h3></a>
    </div>
    <div onclick="window.location.assign('/matches')" role="button" style="width: 100%;" class="p-3 mt-5 w-30 mx-auto bg-primary-color rounded-2 d-flex justify-content-center align-items-center">
      <?xml version="1.0" encoding="iso-8859-1"?>
      <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg  width="71" height="71" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  x="0px" y="0px"
         viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
      <g>
        <g>
          <path d="M376.048,253.672c-6.392,21-16.488,40.456-29.52,57.584l-54.472-6.808l-13.968-16.296l-12.144,10.408l13.296,15.512
            l-14.544,58.16c-1.12,0.416-2.224,0.896-3.36,1.296l5.328,15.08c59.664-21.08,106.28-69.784,124.696-130.28L376.048,253.672z
             M283.224,364.096l10.816-43.272l40.12,5.016C319.6,341.352,302.384,354.352,283.224,364.096z"/>
        </g>
      </g>
      <g>
        <g>
          <path d="M200,0C89.72,0,0,89.72,0,200s89.72,200,200,200c5.584,0,11.192-0.224,16.664-0.688l-1.328-15.936
            C210.312,383.792,205.152,384,200,384c-22.768,0-44.56-4.184-64.704-11.776l-14.536-58.16L163.672,264h72.648l4.48,5.224
            l12.16-10.408l-4.032-4.704l21.752-72.504l58.264-29.136l51.76,12.936C382.832,176.624,384,188.176,384,200
            c0,5.152-0.208,10.312-0.624,15.336l15.936,1.328C399.776,211.192,400,205.584,400,200C400,89.72,310.28,0,200,0z M200,16
            c10.176,0,20.152,0.864,29.88,2.464L200,38.384l-29.88-19.92C179.848,16.864,189.824,16,200,16z M148.608,23.352L192,52.28V124
            l-56.84,42.632l-56.768-28.384L57.808,83.36C81.048,55.072,112.568,33.856,148.608,23.352z M46.48,98.736l14.88,39.68
            l-37.792,9.448C28.784,130.248,36.552,113.728,46.48,98.736z M65.92,325.824l40.04-5l10.8,43.192
            C97.656,354.28,80.472,341.312,65.92,325.824z M107.944,304.456l-54.384,6.8C30.016,280.32,16,241.776,16,200
            c0-11.824,1.168-23.376,3.304-34.584l51.76-12.936l58.264,29.136l21.752,72.512L107.944,304.456z M234.048,248h-68.096
            l-20.688-68.952L200,138l54.736,41.048L234.048,248z M321.608,138.248l-56.768,28.384L208,124V52.28l43.392-28.928
            c36.04,10.504,67.56,31.72,90.8,60.008L321.608,138.248z M338.64,138.416l14.88-39.68c9.92,14.992,17.696,31.512,22.912,49.128
            L338.64,138.416z"/>
        </g>
      </g>
      <g>
        <g>
          <path d="M469.352,300.816l-14.656,6.408C460.864,321.368,464,336.44,464,352c0,61.76-50.24,112-112,112
            c-29.768,0-57.408-11.576-78.2-32H296v-16h-40c-4.424,0-8,3.576-8,8v40h16v-19.28c23.608,22.52,54.624,35.28,88,35.28
            c70.576,0,128-57.424,128-128C480,334.216,476.424,317,469.352,300.816z"/>
        </g>
      </g>
      <g>
        <g>
          <path d="M440,240v19.28C416.392,236.76,385.376,224,352,224c-70.576,0-128,57.424-128,128c0,17.776,3.576,34.984,10.624,51.152
            l14.672-6.408C243.128,382.616,240,367.56,240,352c0-61.76,50.24-112,112-112c29.768,0,57.408,11.576,78.2,32H408v16h40
            c4.424,0,8-3.576,8-8v-40H440z"/>
        </g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      </svg>
      
      <a style="text-decoration: none;" id="link-icons" href="/matches"><h3 class="mb-0 mx-4 anton">PARTIDOS</h3></a>
    </div>
  </div>
</div>

<style>
  .btn.btn-dark:hover {
    background-color: #adb4b1 !important;
  border-color: #cce1d9;
  }

</style>
