<h1>Admin Panel - Options</h1>

<a href="/add_tournament"> Add Tournament</a> <br>
<a href="/add_team">Add Team</a><br>
<a href="/match_days/new">Add MatchDay</a><br>
<a href="/add_match_day">Update Match results</a><br><br>

<a href="/logout">Logout</a>