<h1> Add Match_Days </h1>

  <%if flash[:error]%>
    <p style="color: red;"><%= flash[:error]%></p>
  <%end%>

  <%if flash[:success]%>
  <p style="color: green;"><%= flash[:success]%></p>
  <%end%>

<form action="/match_days" method="POST">
  <label for='Description'>Description: </label><input id='description' name='description' type='text' placeholder='description'></input>
  <h2> Select the tournament</h2>
  <label for="tournament">Tournaments: </label>
     <select id="tournament_id" name="tournament_name">
         <% @tournaments.each do |tournament| %>
            <%= "<option value='#{tournament.name}'>#{tournament.name}</option>" %>
        <% end %>
     </select>
  <br>
  <br>
  <button type="submit"  >Add</button>
</form>


