<h1>Add Team</h1>

<% if flash[:sucess]%>
  <p style="color: green;"><%= flash[:sucess]%></p>
<%end %>
<%if flash[:error]%>
  <p style="color: red;"><%= flash[:error]%> </p>
<%end %>

<form action='/teams' method='POST'>
    <label for='name'>Name: </label> <input id='name' name='name' type='text' placeholder='name'> 
    <button type='submit'>Add</button>
    <h2> Select the tournament for the team</h2>
    <label for="tournament">Tournaments: </label>
     <select multiple="multiple" id="tournament_id" name="tournament_name[]">
           <%@tournaments.each do |tournament| %>
              <%= "<option value='#{tournament.name}'>#{tournament.name}</option>" %>
          <% end %>
       </select>
    <br>
</form>