<h1 style="color: black;" >Add tournament</h1>


<% if @msg%>
<% if @msg[:status] == 200 %>
  <p style="color: green;"><%= @msg[:msg] %></p>
  <%else%>
  <p style="color: red;"><%= @msg[:msg]%> </p>
<% end %>
<%end %>


<form action='/tournaments' method='POST'>
    <label for='Name'>Name: </label><input id='name' name='name' type='text' placeholder='name'></input>
    
    <button type='submit'>Add</button>
    <h2>Existing Tournaments!! </h2>
    <label for="tournament">Tournaments: </label>
       <select id="tournament_id" name="tournament_name">
           <% @tournaments.each do |tournament| %>
              <%= "<option value='#{tournament.name}'>#{tournament.name}</option>" %>
          <% end %>
       </select>
    <br>

</form>