<h1>Iniciar Sesion</h1>

<form action="/login" method="post">
  Nombre: <input type="text" name="name"><br><br>
  Contraseña: <input type="password" name="password"><br><br>
  <input type="submit" value="Iniciar Sesion">
</form>

<a href="/signup">Registrarse</a>