<div class="container-fluid bg-secondary-color h-100">
    <div class="row h-100">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <div>
          <img src="/images/logo.png" class="img-fluid" alt="logo">
        </div>
        <div class="p-3 w-30 mx-auto bg-white rounded-4">
          <h3 class="mb-3 mx-4">Iniciar Sesi칩n</h3>
          <% if flash[:success]%>
            <p class="text-success mx-4 alert alert-success"><%= flash[:success]%></p>
          <%end %>  
          <form action="/login" method="post">
            <div class="form-floating mb-3 mx-4">
              <input type="text" name="name" class="form-control" id="floatingInput" placeholder="Nombre">
              <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating mb-3 mx-4">
              <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Contrase침a">
              <label for="floatingPassword">Contrase침a</label>
            </div>
  
            <div class="mx-4">
              <button id="submit-button" type="submit" class="btn bg-primary-color mb-3">Iniciar Sesi칩n</button>
              <% if flash[:error]%>
                <p class="text-danger"><%= flash[:error]%></p>
              <%end %>
            </div>

            <a id="link" class="ms-4 primary-color" href="/signup">No tienes cuenta? Registrate</a>
            
          </form>
        </div>
      </div>
    </div>
  </div>


  