<div class="container-fluid bg-secondary-color h-75">
    <div class="row h-50">
      <div class=" mt-5 col-12 d-flex flex-column justify-content-center align-items-center">
   <div class="mt-5">
          <img src="/images/logo.png" class="img-fluid" alt="logo">
        </div>
<div id="todo" class="p-3 w-30 mx-auto bg-white rounded-4">
    <h3 class="text-center">Reseteo de Contraseña </h3>
    <form action="/pw-new" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-floating mb-3 mx-4">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
          <label for="floatingPassword">Nueva contraseña</label>
          </div>
          <div class="form-floating mb-3 mx-4">
          <input type="password" name="password_confirmation" class="form-control" id="floatingPassword" placeholder="Confirmar Contraseña">
          <label for="floatingPassword">Confirmar contraseña</label>
          <input type="hidden" name="token" value="<%= @token %>">
          </div>
          <div class="mx-4">
          <button id="submit-button" type="submit" class="btn bg-primary-color mb-3">Crear contraseña</button>
          </div>
      </form>
  </div>
  <div id="carde" class="card text-black bg-white mb-3 mx-4 mt-3">
    <div class="card-body" id="card-success">
        <!-- Uppercase @username -->
      <h5 class="card-title text-center"> <%=@username.upcase%> Importante! </h5>

      <p class="card-text
      ">Recuerde que <strong>nadie</strong> de la organización le pedirá su contraseña</p>
      <!-- Consejos para una contraseña segura -->
        <p class="card-text mb-0">Para una contraseña segura: 
            <ul class="mt-0">
                <li>
                    Utilice al menos 8 caracteres
                </li>
                <li>
                    Utilice letras mayúsculas y minúsculas
                </li>
                <li>
                    Utilice números y símbolos
                </li>
            </ul>
    </div>
    </div>

</div>
</div>
</div>

