<h1>Registrarse</h1>

<form action="/signup" method="post">
  Nombre: <input type="text" name="name"><br><br>
  Email: <input type="email" name="email"><br><br>
  Contraseña: <input type="password" name="password"><br><br>
  <input type="submit" value="Registrarse">
</form>

<a href="/login">Inicia Sesion</a>