<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <body>
        <h1>Genere una nueva contraseña</h1>


        <div class="card text-center">
          <div class="card-header">
            Reestablecimiento de contraseña
          </div>
          <div class="card-body">
            <h5 class="card-title">Hola {{name}}</h5>
            <p class="card-text">Recientemente ha solicitado reestablecer su contraseña. Para hacerlo, haga click en el siguiente enlace</p>
            <a href="http://localhost:4567/pw-recovery/{{token}}"> 
               www.prodemania.com/{{string_token}}
            </a>
          </div>
          <div class="card-footer text-muted">
            <%# Copyright todos los derechos reservados %>
          <p> PRODEMANIA - 2022 Todos los derechos reservados © </p>

          </div>
        </div>
        
    </body>
                    
</html>