<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <body>
        <h1>Welcome to PRODE 2022, {{name}}</h1>

<!-- tarjeta de bienvenida, centrada, con un boton para ingresar a jugar -->

        <div class="card text-center">
          <div class="card-header">
            Bienvenido a PRODE 2022
          </div>
          <div class="card-body">
            <h5 class="card-title">Hola {{name}}</h5>
            <p class="card-text">Para ingresar a jugar, haz click en el boton de abajo</p>
            <a href="http://localhost:9292/login" class="btn btn-primary">Ingresar</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
        
    </body>
                    
</html>