<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <h1>Su contraseña ha sido actualizada!.</h1>
        <p>
            You've successfully created a new account on PRODE APP. <br>
            To confirm your account, please click the link below:
             <a href="#">Confirm my account</a>
        </p>
    </body>
                    
</html>