    <form action="http://localhost:4567/users" method="POST">
      <input name="name" type="text"  placeholder="name" />
      <input name="email" type="email" placeholder="email"/>
      <input name="password" type="text" placeholder="password">
      <input type="submit" value = "submit" />
    </form>