<img src="/images/logo.png" alt="logo" class="mx-auto d-block" style="width: 30%; height: 30%;">
<div class="row mt-2">

  <!-- INSERT THE LOGO IMAGE LOCATION ON PUBLIC-->

  <div class="col-12 col-md-10 mx-auto text-center">
    <h1 id="h1-faq">Preguntas Frecuentes (F.A.Q)</h1>

<div class="accordion text-center" style="background-color: #3aa17a;">
  <div class="accordion-item">
    <h2 class="accordion-header text-center" id="panelsStayOpen-headingOne">
      <button id="collapsed-accordion" class="accordion-button text-center" style="background-color: #3aa17a;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <h1 id="title-accordion">¿Qué es PR0DEMANIA? </h1>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <div class="text-start">
          <strong>Prodemania es la plataforma que buscabas!</strong>
          <p> Te permite compartir, jugar y crear apuestas interactivas contra otros usuarios del mundo!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h1 id="title-accordion"> ¿Es pago? </h1>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <div class="text-start">
        <strong>No.</strong> Por ahora es Gratis!, ten cuidado con los estafadores, desde Prodemania nunca te pediremos dinero para poder jugar.
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" style="background-color: #3aa17a;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        ¿Cómo accedo a mi perfil?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <div class="text-start">
          Para acceder al perfil, basta con dirigirse a la parte superior derecha de la pantalla y hacer click en el botón "Perfil". Allí podrás ver tus datos personales, tus apuestas y tus estadísticas.  También podrás editar tus datos personales y cambiar tu contraseña.  Si tienes alguna duda, no dudes en contactarnos.  ¡Estamos para ayudarte!
      </div>
    </div>
    </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
        <h1 id="title-accordion">¿Cómo juego?</h1>
      </button>
    </h2>

   <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
      <div class="accordion-body">
        <div class="text-start">
        <p> Para jugar se debe ingresar al Menu, seleccionar el torneo donde se desea 
        realizar la apuesta y seleccionar el partido que se desea apostar.  Una vez seleccionado el partido, seleccionar el resultado que se desea apostar.  Si se desea apostar por un empate, se debe colocar el resultado por ejemplo:
        Boca (1) - (1) River</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
      <button class="accordion-button collapsed"  style="background-color: #3aa17a;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive" >
        ¿Cómo contacto a un administrador? </h2> 
      </button>
    </h2>

   <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
      <div class="accordion-body">
        <div class="text-start">
          <p>Para contactar a un Administrador puede enviar un e-mail a: soporte@prodemania.com</p>
        </div>
      </div>
    </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingSix">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
      <h1 id="title-accordion">¿Cómo puedo Donar?</h1>
    </button>
  </h2>

 <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
    <div class="accordion-body">
      <div class="text-start">
        En construcción...
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>


</div>

</div>



